In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv("Resources/vine_table.csv")

In [4]:
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RAB23OVFNCXZQ,1.0,0.0,0.0,N,Y
1,R3NORADVJO6IE6,5.0,0.0,0.0,N,Y
2,R299F4SO98S5OO,5.0,1.0,1.0,N,Y
3,R2DA9DOT03UW6I,5.0,2.0,3.0,N,Y
4,R2OGCH681EQHU6,5.0,0.0,0.0,N,Y

In [6]:
vine_20_df = vine_df.loc[vine_df["total_votes"] >= 20]

In [7]:
vine_20_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
487,R1T4FVSABO0IDP,5.0,8.0,31.0,N,Y
613,R397VXR1GAK6C9,5.0,21.0,21.0,N,Y
1058,R2H6KB9RHS17GA,3.0,59.0,69.0,N,Y
1097,R3HAK0MUN9F5IT,1.0,6.0,28.0,N,Y
1373,R29UTZTOPUVRSV,5.0,21.0,21.0,N,Y
...,...,...,...,...,...,...
3514924,R1B4VY89QJI9YM,4.0,61.0,69.0,N,N
3514928,R3EOKOI381VNAD,5.0,28.0,31.0,N,N
3514935,R2X2OT2N2L6VTH,1.0,33.0,36.0,N,N
3514939,R3SPUAB0NVAB0O,5.0,17.0,20.0,N,N
3514940,R2O7ALEKWVTK9N,2.0,20.0,23.0,N,N

In [12]:
vine_helpful_df = vine_20_df.loc[(vine_20_df["helpful_votes"]/vine_20_df["total_votes"])>=0.5]

In [40]:
vine_N_df = vine_helpful_df[vine_helpful_df["vine"]=="N"]

In [21]:
vine_Y_df = vine_helpful_df[vine_helpful_df["vine"]=="Y"]

In [62]:
unique_N_reviews = vine_N_df["review_id"].nunique()
star5_N_reviews = len(vine_N_df[vine_N_df["star_rating"]==5])
percent_5star_N = star5_N_reviews/unique_N_reviews
print(f"There were {unique_N_reviews} reviews which were NOT a part of the Vine program. They included {star5_N_reviews} 5-Stars reviews, or {100*percent_5star_N:.2f}% of the total.")

There were 24742 reviews which were NOT a part of the Vine program. They included 12807 5-Stars reviews, or 51.76% of the total.

In [63]:
unique_Y_reviews = vine_Y_df["review_id"].nunique()
star5_Y_reviews = len(vine_Y_df[vine_Y_df["star_rating"]==5])
percent_5star_Y = star5_Y_reviews/unique_Y_reviews
print(f"There were {unique_Y_reviews} reviews which WERE a part of the Vine program. They included {star5_Y_reviews} 5-Stars reviews, or {100*percent_5star_Y:.2f}% of the total.")

There were 82 reviews which WERE a part of the Vine program. They included 33 5-Stars reviews, or 40.24% of the total.